.container {
  display: flex;
  flex-direction: row;
  margin: auto 6rem;
  justify-content: space-around;
}

.presentation {
  background-color: var(--gray-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
  padding: 3rem;

}

.curriculum {
  background-color: var(--gray-7);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 1rem 1rem;

  padding: 3rem;

}




@media screen and (max-width: 1200px) {
  .about-link{
    width: 80%;
  }
  .container {
    flex-direction: column;
  }

  .presentation {
    flex-direction: row;
    justify-content: space-around;
  }

  .presentation{
    border-radius: 1rem 1rem 0 0;
  }
  .about{
    border-radius: 0 0 1rem 1rem;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .presentation {
    flex-direction: column;
    justify-content: center;
  }

  .presentation-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-1{
    margin: 2.5rem 1rem 1rem 1rem;
  }

  .body-text-light {
    max-width: 60ch;
  }
  .body-text-dark {
    max-width: 60ch;
  }

}

@media screen and (max-width: 630px) {
  .about-link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .about-link a{
    margin: 1rem;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    margin: auto 2rem;
  }

  .presentation {
    flex-direction: column;
    justify-content: center;
  }

  .presentation-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-1{
    margin: 2.5rem 1rem 1rem 1rem;
  }

  .body-text-light {
    max-width: 50ch;
  }
  .body-text-dark {
    max-width: 50ch;
  }

}