@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Hind+Vadodara:wght@500&family=Khula:wght@600&family=Varela&display=swap');

/*
    font-family: 'Fira Sans', sans-serif;

    font-family: 'Hind Vadodara', sans-serif;

    font-family: 'Khula', sans-serif;

    font-family: 'Varela', sans-serif;
*/


:root{ 

  --green-dark: #015F43;
  --green: #00875f;
  --green-light: #00b37a;

  --blue: #81d8f7;

  --gray-1: #09090a;
  --gray-2: #121214;
  --gray-3: #323238;
  --gray-4: #4d4d4e;
  --gray-5: #8d8d99;
  --gray-6: #a1a1a3;
  --gray-7: #c4c4cc;
  --gray-8: #d2d2d3;
  --gray-9: #e4e4eb;
  --gray-10: #e1e1e6;

  --base-dark: #2C3633;
  --base-gray: #2b3632;
  --base-medium: #335F50;
  --base-light: #00AA7D;
  --base-white: #f3f3f3;
  --base-black: #111111;
  --alternative: #8F5292;
  --alternative-light: #D138BF;
  --alternative-black: #494947;
  --alternative-base: #35FF69;
  --absolute-white: #ffffff;


  font-size: 10px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}


html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%;
}



body {
  margin: 0;
  background-color: var(--gray-1);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto-round-1 {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
}

.title-light-1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 4rem;
  /* margin: 1rem; */
  color: var(--base-white)
}

.title-dark-1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 4rem;
  margin: 1rem;
  color: var(--base-dark)
}

.title-dark-2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3rem;
  margin: 3rem 0 0 0;
  color: var(--gray-3)
}
.title-dark-3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.4rem;
  margin: 1.5rem 0 0 0;
  color: var(--gray-4)
}

.title-dark-4 {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0 0 0 0;
  color: var(--gray-4)
}

.subtitle-dark-1 {
  color: var(--gray-2);
  font-family: 'Varela', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}

.subtitle-dark-2 {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0.6rem 0 0 0;
  color: var(--gray-4)
}

.subtitle-dark-3 {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 1rem;
  margin: 1rem 0 0 0;
  color: var(--gray-4)
}

.body-text-light {
  color: var(--gray-5);
  font-family: 'Varela', sans-serif;
  font-size: 1.5rem;
  max-width: 40ch;
  line-height: 1.3;
}
.body-text-dark {
  color: var(--gray-3);
  font-family: 'Varela', sans-serif;
  font-size: 1.5rem;
  max-width: 70ch;
  line-height: 1.4;
}

.about-link{
  margin-top: 2rem;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-link a { 
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 700;

  padding: 1.2rem;
  border-radius: 0.4rem;

  background-color: var(--gray-3);
  
  color: var(--gray-8);
}

.about-link a:hover { 
  transition: 0.3s ease-in-out;

  background-color: var(--gray-2);
  
  color: var(--gray-9);
}

.divider-dark {
  border-color: var(--gray-7);
}

.divider-light {
  border-color: var(--gray-3);
}
ul li { 
  color: var(--gray-3);
  font-family: 'Varela', sans-serif;
  font-size: 1.5rem;
  max-width: 70ch;
  line-height: 1.4;
}