@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100&family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
:root{
    font-size: 10px;
    /* Cor 1 */
    --cor-1: #660549;
    --cor-1-light: #ff33c2;
    --cor-1-lighter: #ff85db;
    --cor-1-dark: #541A43;

    /* Cor 2 */
    --cor-2: #0ABFBC;
    --cor-2-light: #11dad6;
    --cor-2-dark: #13747D;

    /* Cor Padrão */
    --cor-light: #ffffff;
    --cor-lighter: #e0e0e0;
    --cor-dark: #1b1b1b;
    --cor-darker: #0e0e0e;
}

*{
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
    padding: 0;
    margin: 0;
}
html, body{
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

body{
    background-color: var(--cor-darker);
}

.nav{
    width: 100%;
    height: 80px;
    line-height: 75px;
    

    background-color: var(--cor-dark);

    display: flex;
}

.nav a, .nav a:visited{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 2rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: var(--cor-1-light);
    text-decoration: none;
    
}

.nav a:hover{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 2rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: var(--cor-light);
    text-decoration: none;
    transition: all 0.2s ease;
}

.nav a{
    
}

.logo{
    flex: 1;
    
}
#logo{
    font-family: 'Rock Salt', cursive;
    font-size: 2.5rem;
    padding-top: 5px
}

@media screen and (max-width: 640px){
    .links{
        visibility: hidden;
    }
    .nav{
        /* justify-content: space-around; */
    }
    #logo{
        flex: 0;
    }
    
}