.content{
    /* background-color: #0ABFBC; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
}

.content h1{
    color: var(--cor-light);
    font-size: 6rem;
    font-family: 'Lato', sans-serif;

}